@font-face {
	font-family: 'Emnizen';
	src: local('Emizen'), url('../fonts/Emizen.ttf') format('truetype');
}

* {
	margin: 0;
	padding: 0;
}

html {
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

body {
	margin: 0;
	min-width: 320px;
	min-height: 100vh;
	overflow: hidden;
}

:root {
	font-family: Emnizen, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	font-size: 16px;
	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	/* background-color: #3b3561; */
	background-color: #373737;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

.title-glow {
	color: #fff;
	/* text-shadow: 0 0 4px #fff, 0 0 8px #fff, 0 0 16px #fff, 0 0 32px #fff; */

	/* animation: pulsate 2.5s infinite alternate; */
}
/*
@keyframes pulsate {
	100% {
		text-shadow: 0 0 8px #fff, 0 0 16px #fff, 0 0 32px #fff, 0 0 64px #fff;
	}
	0% {
		text-shadow: 0 0 4px #fff, 0 0 8px #fff, 0 0 16px #fff, 0 0 32px #fff;
	}
}
*/

a {
	font-weight: 500;
	color: #8c56d2;
	text-decoration: inherit;
	transition: 0.25s;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

button {
	border-radius: 50px;
	color: #8c56d2;
	border: 2px solid #8c56d2;
	padding: 1rem;
	font-size: 1.5rem;
	font-weight: 500;
	font-family: inherit;
	background-color: transparent;
	cursor: pointer;
	transition: 0.25s;
	width: 190px;
	@media (max-width: 600px) {
		width: 120px;
		font-size: 1.3rem !important;
		padding: 0.4rem;
	}
	@media (max-width: 1200px) {
		width: 150px;
		font-size: 1.4rem !important;
		padding: 0.8rem;
	}
	@media (max-width: 600px) {
		width: 100px;
		font-size: 1rem !important;
		padding: 0.5rem;
	}
}

@media (prefers-color-scheme: light) {
	:root {
		color-scheme: light;
		color: rgba(255, 255, 255, 0.87);
		background-color: #373737;
		transition: 0.5s;
	}
	.ligth-mode {
		transition: 0.5s;
		color: rgba(255, 255, 255, 0.87);
		background-color: #373737;
	}
	a:hover {
		color: #fff;
	}
	button:hover {
		background-color: #8c56d2;
		color: #fff;
	}
	button {
		background-color: transparent;
		border: 2px solid #8c56d2;
	}
	.title-glow {
		color: #fff;
		text-shadow: none;
		animation: none;
	}
}

@media screen and (prefers-reduced-motion) {
	.title-glow {
		color: #fff;
		text-shadow: none;
		animation: none;
	}
}
